* {
    box-sizing: border-box;
}

body {
    background: rgb(249, 249, 249);
    color: #555;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    font-family: 'ARS Maquette','Helvetica Neue',Arial,sans-serif;
}

.image-text {
    position: absolute;
    bottom: 1.6em;
    left: 1.6em;
}

.image-text .byline {
    font-size: 0.8rem;
    color: rgba(255,255,255,.6);
}

.image-text .category {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: .04em;
    font-size: 1.2rem;
}

/* Header */

header {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(88, 88, 88, 0.2), 0 3px 10px 0 rgba(88, 88, 88, 0.19);
}

header #logo {
    height: 100%;
    width: 115px;
    display: flex;
    font-weight: 900;
    font-size: 24px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    text-align: center;
}

header nav {
    height: 100%;
    flex: 1;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    list-style-type: none;
    padding: 15px;
    text-align: center;
}

header li {
    display: inline;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 10px;
    word-spacing: 0.1vh;
    letter-spacing: 0.1vh;
}

header .social, .search, .mobile-menu {
    float: right;
    border-left: 1px solid rgba(170, 170, 170, 0.568);
}

header a {
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
}

header .main {
    float: left;
}

/* Container */

#container {
    margin-top: 50px;
    width: 100%;
}

/* Featured articles */

#featured {
    display: block;
    width: 100%;
    height: 70vh;
}

#featured article {
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 33.33%;
    padding: 0.6em;
    float: right;
    background-image: url(http://via.placeholder.com/1000x600);
    background-size: cover;
    background-position: center;
    background-clip: content-box;
}

#featured article h1 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

/* Latest section */

#latest {
    clear: both;
    max-width: 1100px;
    margin: 0 auto;
}

#latest h1 {
    color: #f42;
    font-size: 1.5rem;
}

#latest .articles h1 {
    color: rgb(51, 51, 51);
    font-weight: 900;
    font-size: 0.9rem;
}

#latest .articles {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
}

#latest article {
    flex-basis: 25%;
    max-width: 25%;
    padding: 12px;
}

#latest img {
    max-height: 135px;
    max-width: 270px;
}

#latest .byline {
    color: #aaa;
}

/* Others section */

#others {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
}

#others h1 {
    color: #f42;
    font-size: 1.5rem;
}

#others section {
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 12px;
}

#others article {
    min-width: 270px;
    min-height: 176px;
    position: relative;
    background-image: url("http://via.placeholder.com/800x800");
    background-position: center;
    background-size: cover;
    background-clip: content-box;
}

#others article h1 {
    font-size: 0.9rem;
    color: white;
    margin: 0;
    max-width: 80%;
}

#others ul {
    list-style: none;
    padding-left: 0;
}

#others li {
    color: rgb(110, 110, 110);
}

#others li::before{
    content: "•";
    color: red;
    margin-right: 5px;
}
#others li::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: rgba(170, 170, 170, 0.568);
    margin: 10px 0;
}

/* Footer */

footer {
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    text-align: center;
    color: #aaa;
    background: #1a1a1a;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline;
}

footer .top {
    height: 70%;
    line-height: 105px;
    font-family: 'Share Tech Mono', monospace;
}

footer .bottom {
    height: 30%;
    background: black;
    line-height: 45px;
}

/* Media screens */

@media screen and (min-width: 768px) {

    header .mobile-menu {
        display: none;
    }

    #featured article:nth-child(1) {
        height: 100%;
        width: 66.66%;
        float: left;
    }

}

@media screen and (max-width: 768px) {

    header .main, .social {
        display: none;
    }

    header .mobile-menu {
        display: block;
    }

    #featured article {
        display: block;
        float: left !important;
        width: 100% !important;
        min-height: 30vh;
    }

    #latest article {
        flex-basis: 100%;
        max-width: 100%;
    }

    #others section {
        max-width: 100%;
        flex-basis: 100%;
    }

    #others h1 {
        margin-top: 0;
    }

    .articles article {
        display: flex;
    }

    .articles img {
        width: 75px;
        height: 75px;
        margin-right: 15px;
    }

    .articles h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 1023px) and (min-width: 768px) {

    #latest article {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    #others article {
        max-width: 50%;
        flex-basis: 50%;
    }

}